body { 
     background: #FF6600; 
     color:      #000000;
     font-family: Arial, Helvetica, Verdana, sans-serif;
     TOPMARGIN:  0;
     LEFTMARGIN: 0;
     MARGINWIDTH: 0;
     MARGINHEIGHT: 0}

a:link {
       background: transparent;
       color:#003366}        

a:visited {
          background: transparent;
          color: #003366}

a:active {
         background: transparent;
         color: #FF6600}

.title {
       font-size: 20pt}

.here { 
       color: #FF6600;
       font-size: 16pt; 
       font-weight: bold}

.month { 
   color: #000000;
   font-weight: bold;
   font-size: 12pt}
   
.header { 
   color: #FF6600;
   font-style: italic;
   font-weight: bold;
   font-size: 12pt}
   
p, tr, td {
          font-size: 10pt}



h3 { 
   margin-top: -1em;
   margin-bottom: -1em;
   font-weight: bold;
   font-size: 10pt}




.iNavigateCaption
{
    COLOR:       black;
    FONT-SIZE:   x-small 
}

.iNavigateCaption A:link
{
    COLOR: black
}

.iNavigateCaption A:visited
{
    COLOR: black
}

.iNavigateCaption A:hover
{
    COLOR: black;
    TEXT-DECORATION: none
}

.iNavigateItem
{
    COLOR:       #FF6600;
    FONT-SIZE:   x-small 
}

.iNavigateItem A:link
{
    COLOR: #003366
}

.iNavigateItem A:visited
{
    COLOR: #003366
}

.iNavigateItem A:hover
{
    COLOR: #FF6600;
    TEXT-DECORATION: underline
}

.iNavigateCurrentPage
{
    COLOR: #FF6600;
    FONT-STYLE: italic;
    font-weight: bold  
}

.iNavigateJumpTop
{
    FONT-SIZE:   xx-small; 
    TEXT-ALIGN:  right
}